<div data-drag-handle class="chart-header clearfix">

    <h6 class="chart-title pull-left">{{model.data.instrument}}</h6>
    <div class="chart-options btn-group pull-right">
        <!-- Single button -->
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Indicator <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Indicators</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Custom</li>

                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Default</li>

                    <li><a (click)="addIndicator('MA')">MA</a></li>

                    <li class="dropdown-submenu pull-left">
                        <a href="#">Even More..</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">3rd level</a></li>
                            <li><a href="#">3rd level</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            15M <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a (click)="_chartComponent.toggleTimeFrame('1M')">1M</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('5M')">5M</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('15M')">15M</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('30M')">30M</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('1H')">1H</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('4H')">4H</a></li>
            <li><a (click)="_chartComponent.toggleTimeFrame('1D')">1D</a></li>
        </ul>

        <button type="button" class="dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-bar-chart"></i>
        </button>
        <button *ngIf="mode === 'stretched'"
                (click)="resize.emit('windowed')"
                type="button"
                class="dropdown-toggle text-dark"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-compress"></i>
        </button>
        <button (click)="_chartComponent.zoom(-1)"
                type="button"
                class="dropdown-toggle text-dark"
                aria-expanded="false">
            <i class="fa fa-search-minus">
            </i>
        </button>
        <button (click)="_chartComponent.zoom(1)"
                type="button"
                class="dropdown-toggle text-dark"
                aria-expanded="false">
            <i class="fa fa-search-plus"></i>
        </button>
        <button type="button" class="dropdown-toggle text-dark"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-window-minimize"></i>
        </button>
        <button *ngIf="mode === 'windowed'"
                (click)="resize.emit('stretched')"

                type="button" class="dropdown-toggle text-dark" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-expand"></i>
        </button>
        <button (click)="destroy()" type="button" class="dropdown-toggle text-dark"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-close"></i>
        </button>
    </div>
</div>

<div style="position: relative;" class="chart-content">
    <div dialogAnchor></div>
    <chart [model]="model" class="chart-absolute"></chart>
</div>
