@import '../../style/variables/variables';

:host {
    height: 400px;
    width: 700px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #999999;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    box-shadow: 7px 13px 7px 0 rgba(0,0,0,0.6);
}

:host.animate {
    transition: transform .3s ease;
}

:host.stretched {
    transfrom: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    height: 100% !important;
    width: 100% !important;
}

:host.minimized {
    display: none !important;
}

:host table th,
:host table td {
    padding: 0 !important;
    font-size: 10px !important;
}


:host.focused {
    border-color: #ad8f79;

    .chart-header {
        background: $chart-header-background-focus;
    }

    .chart-title {
        color: $font-color-light;
    }
}


.chart-header {
    background: $chart-header-background-blur;
    padding: 2px 0;
}

.chart-title {

    color: $font-color-dark;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 6px;
}

.chart-options {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;

    button {
        padding: 0 2px;
        font-size: 12px;
        font-weight: bold;

        background: -moz-linear-gradient(top,  #F0F0F0 50%, #D4D4D4 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#D4D4D4));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D4D4D4',GradientType=0 );

        i {
            font-size: 14px;
        }
    }
}

.chart-content {
    position: relative;
    height: calc(100% - 25px);
}

.chart-container {
    height: calc(100% - 26px);
}

.chart-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: #000;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

    transition: opacity .33s ease;

    &.fade-out {
        opacity: 0;
    }
}

.highcharts-loading {
     color: $font-color-dark;
}


.dropdown-submenu {
    position: relative;
    width: auto;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    transform: translateX(-100%);
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    transform: translateX(-100%);
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}