/cache
/_builds
/shared/dist

# dependencies
node_modules

# IDEs and editors
.idea

# misc
npm-debug.*
testem.log

#System Files
.DS_Store
Thumbs.db

#electron builds
TradeJS-darwin-x64

# Client
client/dist/

# Server
/server/config/tradejs.config.json
/server/**/*.js
!/server/gulpfile.js
/server/**/*.map
/shared/**/*.js
/shared/**/*.map

# Electron
/electron/builds
/electron/tmp

