# config
/config/*
!/config/tradejs.config.default.ts

# cache
/cache/

# compiled output
/server/**/*.js
/server/**/*.map
/shared/**/*.js
/shared/**/*.map

# dependencies
node_modules

# IDEs and editors
.idea

# misc
.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.*
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#electron builds
TradeJS-darwin-x64

