# config
/config/*
!/config/tradejs.config.default.js

# cache
/cache/

# compiled output
/dist/

# dependencies
node_modules

# IDEs and editors
.idea

# misc
.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#electron builds
TradeJS-darwin-x64

