.chart {
    height: 100%;
}

:host.loading .chart-loading-overlay {
    display: block;
}

.chart-loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    background: black;
    bottom: 0;
    left: 0;
    right: 0;
}