@import '../../style/variables/variables';

:host {
    height: 100%;
}

.chart-overview-container {
    position: absolute;
    top: 0;
    bottom: 22px;
    left: 0;
    right: 0;
    overflow: hidden;
    background: url('../../../assets/img/charts-overview-background.jpg') repeat;
}

.chart-no-charts {
    text-align:center;
    padding: 20px;

    p {
        font-size: 20px;
        color: $font-color-light-gray;
    }
}

.chart-overview-tabs {

    ul > li {
        float: left;

        > a {
            padding: 3px 7px;
            font-size: 10px;
            display: block;
            border-right: 1px solid $border-color-grey;

            &:hover {
                background: $general-secondary;
                color: $font-color-dark;
            }
        }

        &.active > a {
            background: $general-primary !important;
            color: $font-color-light !important;
        }
    }

    border-top: 1px solid $border-color-grey;
    background: $background-dark;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.chart-overview-buttons {
    float: right;

    i {
        font-size: 14px;
        line-height: 20px;
        padding: 0 10px;
        cursor: pointer;
    }
}