<div class="charts-container">
    <ng-container #container></ng-container>
</div>
<div class="chart-overview-tabs">
    <ul>
        <li *ngFor="let chart of charts"
            [ngClass]="{active: chart.instance.focused}"
            (click)="setFocus(chart)"
        >
            <a>{{chart.instance.options.instrument}}</a>
        </li>
    </ul>

    <ul class="chart-overview-buttons">
        <li>
            <i class="fa fa-table" (click)="tileWindows()"></i>
        </li>
    </ul>
</div>

