<div class="chart-overview-container">

    <chart-box #chartBox
               *ngFor="let model of _instrumentsService.instruments$ | async"
               [ngClass]="{focused: chartBox.focus}"
               [model]="model"
               draggable
               resizable
               (onBeforeResize)="chartBox.forceChartInCorner($event)"
               (onAfterResize)="chartBox.resetChart() && chartBox._chart.reflow()"
               (click)="toggleFocused(chartBox)">
    </chart-box>
</div>
<div class="chart-overview-tabs">
    <ul>
        <li *ngFor="let chartBox of charts"
            [ngClass]="{active: chartBox.focus}"
            (click)="toggleFocused(chartBox)"
        >
            <a>{{chartBox.model.data.instrument}}</a>
        </li>
    </ul>

    <ul class="chart-overview-buttons">
        <li>
            <i class="fa fa-table" (click)="tileWindows()"></i>
        </li>
    </ul>
</div>

