<div data-drag-handle class="three-column" draggable [restrict]="false" [direction]="'x'" [onDrag]="onDrag">
    <span  class="splitter fa fa-bars fa-rotate-45" ></span>
    <instrument-list (instrumentClicked)="chartOverview.create({instrument: $event})"></instrument-list>
    <div class="bottom-block">
        <p class="bottom-block-text">Some other block</p>
    </div>
</div>

<chart-overview class="three-column chart-overview-column" #chartOverview></chart-overview>

<div class="three-column hide">

</div>