@import '../../style/variables/variables';

$header-height: 18px;
$tabs-height: 18px;

:host {
    height: $header-height;
    border-top: 1px solid $border-color-grey;
    position: relative;
    background: $background-dark;
}

.splitter {
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    height: 10px;
    cursor: ns-resize;
    text-align: center;
    font-size: 10px;
    padding-left: 1px;

    transition: transform .2s;

    &:hover {
        atransform: scale(2);
        atransform-origin: 50% 50%;
    }
}

.debugger-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: black;
    height: $header-height;
    border-bottom: 1px solid $border-color-grey;

    p {
        font-size: 10px;
        margin: 0 0 0 2px;
    }
}

table {
    margin-bottom: 0;

    thead {
        tr {
            th {
                border: none;
            }
        }
    }

    th,
    td {
        font-size: 10px;
        padding: 0 0 0 5px;
        border-color: $border-color-grey;
    }

    th {
        color: $font-color-light;
    }

    td {
        color: $font-color-light-gray
    }

    td:first-child {
        text-align: center;
    }
}

.nav-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: black;
    border-top: 1px solid $border-color-grey;

    > li {
        margin-bottom: 0;

        &.active a {
            background: $general-secondary;
            color: $font-color-light;
        }

        a {
            padding: 0 15px;
            border-radius: 0;
            margin-right: 0;
            border: none;
            line-height: $tabs-height;
            border-right: 1px solid $border-color-grey;
        }
    }
}

.tabs-container {
    height: 100%;
}

.tab-content {
    height: calc(100% - #{$header-height + 1});
    padding-top: $header-height;
    background: $background-light;

    > * {
        overflow: auto;
        height: 100%;
    }
}

.fa-info {
    color: $general-info;
}

.fa-close {
    color: $general-error;
}

.fa-warning {
    color: $general-warning;
}
