<div class="dialog">
    <div class="dialog-header">
       {{options.title}}
        <i class="fa fa-close" (click)="onClickedExit()"></i>
    </div>

    <div class="dialog-body">
        <div role="form" class="form-horizontal">
            <div class="container-fluid">
                <div class="form-group" >
                    <div class="col-sm-6 pull-left" *ngFor="let input of model.inputs">
                        <label>{{input.name}}</label>

                        <input *ngIf="['number', 'text', 'color'].indexOf(input.type) > -1"
                               [(ngModel)]="input.value"
                               type="{{input.type}}"
                               class="form-control"
                               placeholder="{{input.name}}"
                               value="{{input.value}}" />

                        <select *ngIf="input.type === 'select'" class="form-control">
                            <option value="default">DEFAULT</option>
                            <option value="default">DEFAULT</option>
                            <option value="default">DEFAULT</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-footer">
        <ng-template *ngIf="options.buttons">
            <button *ngFor="let button of options.buttons"
                    value="{{button.value}}"
                    class="btn btn-sm btn-{{button.type || 'primary'}} pull-right"
                    (click)="onClickButton($event.srcElement.getAttribute('value'))"
            >
                {{button.text}}
            </button>
        </ng-template>
    </div>
</div>