$border-color-light         : #eee;
$border-color-grey          : #8c8a8a;

$background-dark            : #000;
$background-light           : #2d2d2d;

$general-info               : #12e4fa;
$general-warning            : #fada05;
$general-error              : #fa0014;

// Text
$font-color-light           : #fff;
$font-color-gray            : #ccc;
$font-color-dark            : #000;



// Chart
$chart-header-background    : #1c431a;