<form role="form" class="form-horizontal" id="backtest-settings-form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-input-block">
        <label>EA</label>
        <select class="form-control" name="ea" required>
            <option value="default">DEFAULT</option>
            <option value="default">DEFAULT</option>
            <option value="default">DEFAULT</option>
        </select>
    </div>
    <div class="form-input-block">
        <label>Instruments</label>
        <ss-multiselect-dropdown
                [options]="multiSelectOptions"
                [settings]="multiSelectSettings"
                (change)="onChange($event)"
                formControlName="instruments"
                [(ngModel)]="_selectedOptions"></ss-multiselect-dropdown>
    </div>
    <div class="form-input-block">
        <label>Time frame *</label>
        <select class="form-control" name="timeFrame" formControlName="timeFrame" required>
            <option value="M1">M1</option>
            <option value="M5">M5</option>
            <option value="M15">M15</option>
            <option value="M30">M30</option>
            <option value="H1">H1</option>
            <option value="H4">H4</option>
            <option value="D1">D1</option>
        </select>
    </div>
    <div class="form-input-block">
        <label for="backtest-settings-from">From</label>
        <div class='input-group date'>
            <input id="backtest-settings-from"
                   type='date'
                   class="form-control"
                   name="from" data-date-picker
                   formControlName="from"
                   required
            />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-input-block">
        <label for="backtest-settings-until">Until</label>
        <div class='input-group date'>
            <input id="backtest-settings-until"
                   type='date' class="form-control"
                   name="until"
                   data-date-picker
                   formControlName="until"
                   required
            />
            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
        </div>
    </div>
    <div class="form-input-block">
        <label>Starting Equality</label>
        <input type="number"
               class="form-control"
               formControlName="equality"
               name="equality"
               required
        />
    </div>
    <div class="form-input-block">
        <label>Currency</label>
        <select class="form-control" name="currency" formControlName="currency" required>
            <option value="euro">EUR</option>
            <option value="dollar">DOLLAR</option>
        </select>
    </div>
    <div class="form-input-block">
        <label>pips **</label>
        <select class="form-control" name="pips" required>
            <option value="1">1</option>
        </select>
    </div>

    <div style="clear: both;">
        <div class="progress" style="width: calc(100% - 80px); height: 22px; display: inline-block; margin-bottom: 0">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span class="sr-only">70% Complete</span>
            </div>
        </div>
        <button *ngIf="_isRunning === false" class="btn btn-sm btn-primary pull-right">Start</button>
        <button *ngIf="_isRunning === true" class="btn btn-sm btn-danger pull-right">Stop</button>
    </div>
</form>

<backtest-reports [report]="_report"></backtest-reports>