main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

:host.r_flex_container {
    display:flex;
    flex-flow: column nowrap;

    height: 100%;
    flex-direction: column;
    margin: 0;
}

.r_flex_fixed_child {
    flex:none;
}

.r_flex_expand_child {
    flex:auto;
    overflow-y:scroll;
    position: relative;
}