#fileListContainer {
    width: 200px;
    border: 1px solid #c3c3c3;
    position: absolute;
    top: 0;
    left: 0;
    right: 200px;
    bottom: 0;
    overflow: auto;
}

#editor {
    position: absolute;
    top: 0;
    right: 200px;
    bottom: 0;
    left: 200px;
    border: 1px solid #c3c3c3;
}

#editorSettings {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    border: 1px solid #c3c3c3;
    text-align: center;
}