<div>
    <table>
        <thead>
        <tr>
            <th>Instrument</th>
            <th>Bid</th>
            <th>Ask</th>
        </tr>
        </thead>
    </table>

    <div>
        <input type="text" placeholder="search" style="width: 100%;">
    </div>
    <div style="position: absolute; top: 42px; bottom: 0; overflow: auto; left: 0; right: 0;">
        <table>
            <tbody>
            <tr *ngFor="let instrument of instruments;">
                <td (click)="onClickInstrument(instrument)"><i class="fa fa-arrow-{{data[instrument] && data[instrument].direction}}"></i>{{ instrument }}</td>
                <td>{{data[instrument] && data[instrument].bid}}</td>
                <td>{{data[instrument] && data[instrument].ask}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>